.divContainer{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.divBox {
    width: 300px;
    height: 350px;
    background-color: #eeeeee;
    margin: 0 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
.divImagem{
    width: 300px; 
    height: 220px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}
.divImagem img{
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover;
}
.divTexto{
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
}