.button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
    outline: none;
    text-align: center;
    user-select: none;
    display: inline-block;
    gap: 80px;
}

.button:active {
    background-color: #fff;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}