.footer-container {
  background-color: #4C576C;
  padding: 20px;
  color: #FFFFFF;
  margin-top: 50px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.senai {
  width: 250px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.botao-container {
  display: flex;
  align-items: center; 
  margin-top: 10px;
}

.botao-container a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px; 
}



.botao-container a:last-child {
  margin-right: 0; 
}

.linha {
  height: 1px;
  width: 100%;
  background-color: white; 
}

@media screen and (max-width: 932px) {

  .footer-container {
    background-color: #4C576C;
    padding: 5px;
    color: #FFFFFF;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
  }
  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  
  .senai {
    width: 50px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .botao-container {
    margin-top: 8px;
    text-align: left;
    font-size: 5px;
  }
  .botao-container a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px;
    margin-right: 10px;
  }
  
  .botao-container a:last-child {
    margin-right: 0;
  }
  
  .linha {
    flex-grow: 1; 
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 4px;
  }
}




